
    <div class="card footer">
        <div class="card-header">
            SR - Portfolio
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <a href="https://github.com/sharfe25"><img src="/images/github.svg" alt=""></a>
            <a href="https://www.facebook.com/sharon.ruedafernandez/"><img src="/images/facebook.svg" alt=""></a>
            <a href=""><img src="/images/linkedin.svg" alt=""></a>
            
          </blockquote>
        </div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/scroll_navbar.js"></script>
    <script src="/js/validation_form.js"></script>
</body>
</html>